// $font-stack:    'Pacifico', cursive;
$font-stack: 'Roboto Slab', serif;
$font-color:#334500;
$primary-color: #ff7d65;
$brown: #826e5c;
$green: #acbb7d;
$dark-green: #334500;
$white: #f9f8f8;
$dark-white: #f9f8f8;
