/* Common */
a:link, a:visited {
  text-decoration: none;
  color: #334500; }

/* Round Image */
.image-container {
  width: 250px;
  padding: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  cursor: pointer; }
  .image-container .title {
    margin-bottom: 1em; }
  .image-container img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    margin-bottom: 10px; }
  .image-container span {
    font-size: 16pt; }

.card-container {
  width: 400px;
  height: 130px;
  background-color: #f9f8f8;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  flex-direction: row; }
  .card-container .image {
    line-height: 125px; }
    .card-container .image img {
      width: 120px;
      height: 120px;
      border-radius: 50%;
      vertical-align: middle; }
  .card-container .details {
    padding: 5px;
    text-align: right; }
    .card-container .details p {
      margin: 5px;
      font-size: 50%; }
    .card-container .details p:first-child {
      font-size: 70%; }
    .card-container .details p:nth-child(2) {
      font-size: 65%; }

@media screen and (max-width: 768px) {
  .image-container {
    width: 150px;
    padding: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column; }
    .image-container .title {
      font-size: 120%; }
    .image-container img {
      width: 150px;
      height: 150px;
      border-radius: 50%;
      margin-bottom: 10px; }
    .image-container span {
      font-size: 16pt; } }

@media screen and (max-width: 450px) {
  .timer div {
    font-size: 60%;
    width: 15%; } }

/* Timer */
.timer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center; }
  .timer div {
    display: flex;
    flex-direction: column;
    padding: 4em; }

@media screen and (max-width: 768px) {
  .timer div {
    width: 25%; } }

@media screen and (max-width: 450px) {
  .timer div {
    font-size: 60%;
    width: 15%; } }
